@import 'normalize.css';
html {
    min-height: 100vh;
    min-width: 100vw;
}

span {
    text-align: center;
}


#eligibleWIC:hover {
    color:#26a69a;
}
#mapsFS:hover {
    color:#26a69a;
}
#applyFS:hover{
    color:#26a69a;
}
#mapsWIC:hover {
    color:#26a69a;
}

.row {
    margin-bottom: 0;
}


#fs-text,
#wic-text {
    font-size: 1.6rem;
}


#mapsFS,
#applyFS,
#mapsWIC,
#eligibleWIC {
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ee6e73;
    color: white;
    width:auto;
    background: #ee6e73;
    margin-bottom: 10%;
}

#select-wic,
#select-fs {
    display: flex;
    justify-content: center;
    padding-top: 13%;
    padding-bottom: 9%;
}
