@import 'normalize.css';
html {
    min-height: 100vh;
    min-width: 100vw;
}

span {
    text-align: center;
}

.row {
    margin-bottom: 0;
}

.s1 {
    width:0;
}

#fs-text,
#wic-text {
    font-size: 1.6rem;
}

#mapsFS,
#applyFS,
#mapsWIC,
#eligibleWIC {
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ee6e73;
    color: white;
    width:auto;
    background: #ee6e73;
}

#select-wic,
#select-fs {
    display: flex;
    justify-content: center;
    padding-top: 24%;
    padding-bottom: 9%;
}
